<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <meta name="keyword" content="safe, girl, foundation, kenya">
        <title>SAFEGIRL FOUNDATION | KENYA</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="logo">
            <a href="{{ url_for('safegirlfoundationke') }}"><img src="{{ url_for('static', filename='images/safegirllogo.jpg') }}" width="200px" height="60px" alt="our logo"></a>
            </div>
    <header>
        <div class="navlinks">
            <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">HOME |</a></li>
                <li><a href="{{ url_for('about_us') }}">ABOUT US|</a></li>
                <li><a href="{{ url_for('safe_girl_center') }}">SafeGirl CENTER |</a></li>
                <li><a href="{{ url_for('impact') }}">IMPACT |</a></li>
                <li><a href="{{ url_for('events') }}">EVENTS |</a></li>
                <li><a href="{{ url_for('our_books') }}">OUR BOOKS |</a></li>
                <li><a href="{{ url_for('donate') }}">DONATE |</a></li>
                <li><a href="{{ url_for('blog') }}">BLOG</a></li>
            </ul>
            </nav>
        </div>
    </header>
    <br>
    <main>
    <div class="cont_aboutus">
        <div class="aboutus">
        <h1>About Us</h1>
        <a><img src="{{ url_for('static', filename='images/aboutus/IMG-20200809-WA0013.jpg') }}" alt="aboutus"></a>
        <p>Welcome to Safe Girl, where compassion meets action! We are a dedicated team committed to addressing the intricate tapestry of social and environmental challenges in Kenya. Our multifaceted portfolio project aims to create meaningful impact 
            in various critical areas.</p>
        </div>
        <div class="ourmission">
        <h1>Our Mission</h1>
        <p>Safe Girl is on a mission to make a positive diference in the lives of 
            individuals, communities, and the environment. Through a holistic approach, we strive to foster positive change and empower those facing pressing challenges.</p>
        <p>Safe Girl Foundation strives to create a positive ripple efect by providing counseling services, promoting climate awareness, empowering youth through STEM education, supporting GBV victims, enhancing fnancial sustainability, advocating for policy changes, fostering community engagement, and measuring and communicating our impact efectively. We understand the complexity of these challenges and tackle them with a holistic and multifaceted approach.</p>
        <img src="{{ url_for('static', filename='images/aboutus/IMG_20180810_153452_9.jpg') }}" alt="Our mission">
        </div>
    </div>
    <div class="roles">
        <h1>Leadership</h1>
        <div class="specific_role0">
        <div class="roles0">
            <figure>
                <img src="{{ url_for('static', filename='images/logos staff/mookie.png') }}" alt="Founder">
                <figcaption>Founder - Daisy Kale</figcaption>
            </figure>
            <br>
            <figure>
                <img src="{{ url_for('static', filename='images/logos staff/jackie.png') }}" alt="Co-founder">
                <figcaption>Co-founder - Jacklyne Mundia</figcaption>
            </figure>
            <br>
            <figure>
                <img src="{{ url_for('static', filename='images/logos staff/staff5.jpg') }}" alt="Co-founder">
                <figcaption>Co-founder - Daisy Gaitho</figcaption>
            </figure>
        </div>
        </div>
    </div>
        <hr class="leadstaff">
        <h1 class="staff">Staff</h1>
    <div class="specific_role1">
        <div class="roles1">
        <figure>
            <img src="{{ url_for('static', filename='images/logos staff/staff1.jpeg') }}">
            <figcaption>STEM Lecturer - Daisy Cherono</figcaption>
        </figure>
        <br>
        <figure>
            <img src="{{ url_for('static', filename='images/logos staff/staff2.jpg') }}" alt="Psychiatrist">
            <figcaption>Psychiatrist - Dr. Esther Nyambura</figcaption>
        </figure>
        <br>
        <figure>
            <img src="{{ url_for('static', filename='images/logos staff/staff3.jpg') }}" alt="Advocate">
            <figcaption>Advocate - Caroline Bungei</figcaption>
        </figure>
        <br>
        <figure>
            <img src="{{ url_for('static', filename='images/logos staff/staff4.jpg') }}" alt="entreprenuership">
            <figcaption>Entrepreneurship Trainer - Irene Kwamboka</figcaption>
        </figure>
        </div>
        </div>
    </div>
        <br>
        <div class="bns">
        <h1>Board and Sponsors</h1>
        <p>We extend our heartfelt gratitude to the invaluable guidance provided by our dedicated board members and the unwavering support from our esteemed sponsors. From charting strategic plans to orchestrating fundraising initiatives, the leadership at Safe Girl Foundation Kenya demonstrates a profound understanding of the pivotal role that structure and passion play in sustaining impactful change. Whether it's overseeing the day-to-day operations or spearheading national and global initiatives, our leadership team is committed to ensuring that our mission endures for years to come.</p>
        </div>
        <br>
        <div class="board">
        <div class="national_board">
        <h2>National Board</h2>
        
        <p>Denise Achieng' </p>
        <p>Advisor, Disciplined Advisor Network</p>
        <br>
        <p>Mercy Akoya</p>
        <p>Financial Strategist</p>
            <br>
        <p>Ann Chepng'eno</p>
        <p>Business Development Strategist</p>
            <br>
        <p>Janet Waithera</p>
        <p>Strategic Advisor</p>
            <br>
        <p>Ann Chepng'eno</p>
        <p>Program Outreach</p>
        </div>

        <div class="advisory_board">
        <h2>National Advisory Board</h2>

        <p>Alice Wonderland</p>
        <p>Philanthropist</p>
        <br>
        <p>Dr. Samuel Njogu</p>
        <p>Primecare Obstetric Clinic</p>
        <br>
        <p>Caroline Bungei</p>
        <p>Associate Corporate Contributions Professionals</p>
        </div>
        </div>
        
        <h1 class="sponh1">Sponsors</h1>
        <div class="sponsors">
        <div class="clinic">
        <img src="{{ url_for('static', filename='images/logos staff/clinic.png') }}" alt="Clinic">
        </div>
        <div class="stem">
            <img src="{{ url_for('static', filename='images/logos staff/STEM.png') }}" alt="STEM">
            </div>
        <div class="law">
            <img src="{{ url_for('static', filename='images/logos staff/law.png') }}" alt="law">
            </div>
        <div class="mental">
            <img src="{{ url_for('static', filename='images/logos staff/mentalhealth.png') }}" alt="mental health">
            </div>
        </div>
        <br>
    <div class="contactus">
        <div class="contact1">
        <h1>Contact Us</h1>
        <a target="_blank"><img src="{{ url_for('static', filename='images/aboutus/IMG-20180609-WA0033.jpg') }}" alt="contactus"></a>
        <h3>Find Us</h3>
        <h3>Address</h3>
        <p>SafeGirl Foundation Kenya</p>
        <p>General Kariba Street</p>
        <p>P.O Box1398-20100</p>
        <p>Nakuru</p>
        <br>
        <h3>Have Any Questions</h3>
        <p></p>
        <h3>Call Us</h3>
        <p>Telephone Number</p>
        <p>+254703657914</p>
        <br>
        <h3>Connect Us On</h3>
        <br>
        </div>
        <div class="contact-form">
            <form action="#" method="post">
                <div class="form-group">
                    <label for="fullName"></label>
                    <input type="text" id="fullName" name="fullName" placeholder="Fullname">
                <br>
                    <label for="email"></label>
                    <input type="email" id="email" name="email" placeholder="E-mail">
                </div>
                <div class="form-group1">
                    <label for="subject"></label>
                    <input type="text" id="subject" name="subject" placeholder="subject">
                    <br>
                    <label for="subject"></label>
                    <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="Phonenumber">
                </div>
                <div class="form-group3">
                    <label for="message"></label>
                    <textarea id="message" name="message" placeholder="Enter your message"></textarea>
                </div>
                <div class="form-group4">
                    <input type="submit" value="Send Message">
                </div>
            </form>
        </div>
    </div>

    <div class="cont_donate">
       <a href="{{ url_for('donate') }}"><button>Learn how to become a sponsor</button></a>
    </div>

        </main>
        <br>
        <div class="info">
            <div class="info1">
            <p><a href="{{ url_for('about_us') }}">About Us</a>| <a href="{{ url_for('about_us') }}">Contact Us</a>| <a href="privacypolicy.html">Privacy Policy</a></p>
            </div>
            <div class="info2">
                <p>SafeGirl Foundation is a community based charitable organisation</p>
                <p>SafeGirl Foundation Kenya</p>
                <p>P.O Box 1398-20100</p>
                <p>Nakuru, Kenya</p>
            </div>
            <div class="info3">
                <a href="{{ url_for('donate') }}"><button>Make a Donation</button></a>
            </div>
        </div>
    <footer>
        <div class="footer">
            <p>SafeGirl Foundation, 2024, All Rights Reserved</p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
